@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-900;
  }
  body {
    @apply bg-gray-900;
    @apply text-gray-300;
    @apply text-lg;
  }

  a {
    @apply text-blue-400;
  }

  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply pb-8;
    @apply pt-4;
  }

  h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply pb-2;
  }

  h3 {
    @apply text-xl;
    @apply font-bold;
    @apply pb-2;
  }

  ul {
    @apply list-disc;
    @apply pl-5;
    @apply pb-2;
  }

  ol {
    @apply list-decimal;
    @apply pl-5;
    @apply pb-2;
  }

  li {
    @apply pb-3;
  }

  p {
    @apply pb-6;
  }

  .code_block {
    @apply mt-6;
    @apply mb-4;
    @apply rounded-md;
    @apply border;
    @apply border-gray-600;
    @apply bg-black;
    @apply text-gray-500;
  }

  .code_line {
    display: table-row;
  }

  .code_line_number {
    display: table-cell;
    text-align: right;
    user-select: none;
    @apply bg-gray-800;
    @apply pl-4;
    @apply pr-3;
    @apply text-gray-500;
  }

  .code_line_added {
    display: table-cell;
    text-align: right;
    user-select: none;
    @apply pl-4;
    @apply pr-3;
    @apply text-gray-500;
    background-color: #031207;
  }

  .code_line_number_first {
    @apply pt-2;
    @apply rounded-tl-md;
  }

  .code_line_number_last {
    @apply pb-2;
    @apply rounded-bl-md;
  }

  .code_line_content {
    display: table-cell;
    width: 100%;
    @apply pl-4;
  }
  .line_added {
    @apply text-gray-300;
    background-color: #021c09;
  }
  .added_top {
    @apply border-t;
    @apply border-green-700;
    @apply pt-1;
  }
  .added_bottom {
    @apply border-b;
    @apply border-green-700;
    @apply pb-1;
  }
  .stash_holder {
  }
}
